ACE
jacorb
.*
*~
GNUmakefile*
*.so
*.so.*
*.mpc
*.pidlc
*ridlc
*rins
bin/*rins
bin/*rins.bat
lib/corba/idl/*C.rb
lib/corba/idl/*S.rb
lib/corba/idl/r2c_orb.rb
lib/corba/svcs/ins/rins.rb
lib/corba/svcs/ins/jrins.rb
ridl
pkg
src
taogem/pkg
taogem/src/*
*.ior
*.bundle
*.dylib

